.orders {
  padding-bottom: 2.5rem;
  padding-top: 2rem;
  .header {
    font-size: .65rem;
    color: #999;
    height: 2rem;
    line-height: 2rem;
    span {
      display: inline-block;
      line-height: 2rem;
      &.selected {
        color: #11abcf;
        border-bottom: .05rem solid #11abcf;
      }
    }
  }
  .classify {
    background: #fafafa;
    line-height: 2rem;
    color: #999;
    font-size: .65rem;
    border-bottom: .05rem solid #e6e6e6;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 999;
    .selected {
      color: #11abcf;
      border-bottom: .1rem solid #11abcf;
    }
  }
  .ordersList {
    font-size: .6rem;
    background: #f2f2f2;
    li {
      background: #fff;
      margin-bottom: .5rem;
      .itemTit {
        line-height: 2rem;
        padding: 0 .75rem;
        text-align: left;
        .icon {
          display: inline-block;
          width: .7rem;
          height: .7rem;
          background: url(../../assets/image/icon/orders/store.png) no-repeat center center;
          background-size: contain;
          margin-right: 0.3rem;
          float: left;
          margin-top: 0.6rem;
        }
        .storeName {
          vertical-align: middle;
          margin-right: .2rem;
        }
        .arrow {
          width: .3rem;
          height: .3rem;
        }
        .status {
          color: #999;
          &.important {
            color: #11abcf;
          }
        }
      }
      .itemInfo {
        background: #fafafa;
        padding: .4rem .75rem;
        text-align: left;
        .itemImg {
          float: left;
          width: 3rem;
          height: 3rem;
          margin-right: .87rem;
          border-radius: .2rem;
          overflow: hidden;
        }
        .isCard {
          width: 5.75rem;
          position: relative;
          .logo2{
            width: 2.85rem;
            height: 0.6rem;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-left: -1.42rem ;
            margin-top: -0.3rem;
          }
        }
        .detail {
          float: left;
          height: 3rem;
          position: relative;
          >p {
            height: 1rem;
            width: 10rem;
          }
          .detailName {
            color: #333;
            font-size: .7rem; // position: absolute;
            // left: 0;
            // top: 0;
          }
          .detailPrice {
            position: absolute;
            left: 0;
            bottom: 0;
            color: #333;
            font-size: .6rem;
          }
        }
        .payStatus {
          color: #999;
          font-size: .6rem;
          float: right;
        }
      }
      .handle {
        height: 2.2rem;
        line-height: 2.2rem;
        text-align: right;
        span {
          font-size: .6rem;
          color: #666;
          position: relative;
          width: 49%;
          height: 100%;
          display: inline-block;
          text-align: center;
          &.important {
            color: #11abcf;
          }
        }
        span:nth-child(2)::after {
          position: absolute;
          content: ' ';
          height: 1rem;
          top: .5rem;
          left: 0;
          border-left: .05rem solid #e6e6e6;
        }
      }
    }
  }
  .noOrder {
    height: 20rem;
    width: 100%;
    font-size: 0.8rem;
  }
  .bottomInfo {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    transform: translateY(100%);
    transition: transform .3s;
    &.down {
      transform: translateY(0%);
    }
    .title {
      text-align: right;
      background-color: #f2f2f2;
      height: 1.5rem;
      line-height: 1.5rem;
      span {
        padding-right: 0.5rem;
      }
      i {
        margin-right: 0.5rem;
        padding: 0 0.5rem;
      }
    }
    >p {
      height: 1.5rem;
      line-height: 1.5rem;
      border-bottom: 1px solid #e6e6e6;
      position: relative;
      img {
        width: 0.625rem;
        height: 0.5rem;
        position: absolute;
        top: 0.5rem;
        right: 1rem;
      }
    }
    p.isColor {
      color: #11abcf;
    }
  }
}
